<!-- CONTENT -->
	<div id="content"><div class="inner_copy"><div class="inner_copy">&nbsp;</div></div>
		<div class="box">
			<div class="border-bot">
				<div class="right-bot-corner">
					<div class="left-bot-corner">
						<div class="inner">
							<div class="box1 alt">
								<div class="inner">
									<h3>Atualize seu <b>telefone</b></h3>
									<%= form_for(@telefone, :url => '/telefones/'+@telefone.id.to_s, :method => :put, :html => {:id => 'Xcontacts-form'}) do |f| %>
										<fieldset>
										   <div class="field"><p>
										    <label>DDD</label>: &nbsp;
										    <%= f.text_field :ddd, :size => 13 %></p>
										  </div>
										  <div class="field"><p>
										    <label>Telefone</label>: &nbsp;
										    <%= f.text_field :telefone, :size => 33 %></p>
										  </div>
										  <br /><br />
										  <div style="text-align:left">
										    <a href="#" onclick="redirecionarURL('/clientes')" class="link1"><em><b>VOLTAR</b></em></a> <br /> <br /> <br />
										    <a href="#" onclick="document.getElementById('Xcontacts-form').submit()" class="link1"><em><b>ATUALIZAR!</b></em></a> &nbsp &nbsp 
										  </div>
										</fieldset>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
