<!-- CONTENT -->
	<div id="content"><div class="inner_copy"><div class="inner_copy">&nbsp;</div></div>
		<div class="indent">
			<div class="wrapper">
				<div class="col-1">
					<h3><b>Parabéns!</b></h3>
					<p>&nbsp;</p>
					<p style="font-size: x-large">Você concluiu sua compra com sucesso! Anote o código do seu pedido abaixo:</p>
					<h3 align="center"><span style="color:#CC0000">-->&nbsp;&nbsp; <%= "%05d" % @pedido.id %> &nbsp;&nbsp;<--</span></h3>
			    </div>
				<div class="col-2">
					<div class="box2">
						<div class="border-top">
							<div class="left-top-corner">
								<div class="right-top-corner">
									<div class="inner">
										<h4 style="text-align: center"><b>É bom saber...</b></h4>
										<ul class="news">
											<li><p>A qualquer momento você pode <b><span style="color:#E7871C">imprimir</span> seu pedido</b>, basta acessar a área PEDIDOS.</p></li>
											<li><p>Você também pode acompanhar o andamento do seu pedido <b>verificando seu STATUS.</b></b></p></li>
											<li><p>Se tem dúvidas em relação aos seus parcelamentos, <b>entre em contato conosco </b>e tire suas dúvidas!</p></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
