<!-- CONTENT -->
	<div id="content"><div class="inner_copy"><div class="inner_copy">&nbsp;</div></div>
		<div class="indent">
			<div class="wrapper">
				<div class="col-1">
					<h3><b>Entre</b> em contato</h3>
					<p style="font-size: x-large"><a href="mailto:contato@rmgraficarapida.com.br">contato@rmgraficarapida.com.br</a></p><br />
					<p style="font-size: x-large">(11) 5589.1512 / (11) 5583.2651</p><br />
					<p style="font-size: large">Rua Guaraú, 92 - Bairro Mirandópolis<br />
												São Paulo/SP - CEP 04052-000<br />
						<span style="font-size: small">(ao lado da estação do metrô Praça da Árvore)</span><br /><br />
						<iframe width="450" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Rua Guaraú, 92, São Paulo, SP&z=17&output=embed&ie=UTF8&iwloc="></iframe>
					</p>
				</div>
				<div class="col-2">
					<br />
					<%= render :partial => "layouts/lancamentos", :locals => {:produtos => @publico_produtos_exibicao} %>
					<%= render :partial => "layouts/login" %>
				</div>
			</div>
		</div>
	</div>
