<!-- CONTENT -->
	<div id="content"><div class="inner_copy"><div class="inner_copy">&nbsp;</div></div>
		<div class="indent">
			<div class="wrapper">
				<div class="col-1">
					<h3><b>Quem é a</b> RM Gráfica Rápida?</h3>
					<div class="img-box1"><img src="images/1page-img.jpg" alt="" />
						<p>
							A empresa RM Copiadora atua no mercado de trabalhos de cópias e afins a mais de 10 anos, 
							sempre atendendo seu fiel público constituído de estudantes, empresas e os mais diversos segmentos. 
							Seus campos de atuação abrangem uma grande gama de trabalho, conferindo assim o status de Gráfica Rápida como conhecemos.
						</p>
					</div>
					<p>A RM Copiadora atende em sua loja os serviços de:
						<ul class="sitemap">
							<li>impressões</li>
							<li>cópias</li>
							<li>plastificações</li>
							<li>encadernações</li>
							<li>revelação de filmes</li>
							<li>impressões de fotos digitais</li>
							<li>transformação de VHS para DVD</li>
							<li>cartões de visita</li>
							<li>carimbos</li>
							<li>panfletos</li>
							<li>e muito mais</li>
						</ul>
					</p>
				
					<p>Dado seu atendimento de qualidade, a RM Copiadora sentiu a necessidade de expandir seus serviços para a 
						internet, criando assim a RM Gráfica Rápida.  Na internet, através da RM Gráfica Rápida, são oferecidos 
						os serviços de impressões A3 e A4 com diversas opções extras (como cor, encadernação e outros). 
						
					</p>
			  	
					<p>
						A RM Gráfica Rápida <b>despacha para todo o Brasil</b> através dos Correios, onde você escolhe qual a maneira que quer 
						receber sua mercadoria. Também permite o <b>pagamento dos produtos</b> aqui disponibilizados 
						via <b>PAG SEGURO</b> que provê 
						<b>total segurança</b> e <b>garantia de devolução do dinheiro</b> caso haja problemas. Tudo isso para trazer
						tranquilidade para aqueles que compram conosco.
					</p>
					<p>
						Se desejar nos visitar ou entrar em contato, será um enorme prazer em recebe-lo. Basta escolher uma das opções abaixo:
					</p>
					<p style="font-size: large"><a href="mailto:contato@rmgraficarapida.com.br">contato@rmgraficarapida.com.br</a></p><br />
					<p style="font-size: large">(11) 5589.1512 / (11) 5583.2651</p><br />
					<p style="font-size: large">Rua Guaraú, 92 - Bairro Mirandópolis - São Paulo/SP<br />
						<span style="font-size: small">(a lado da estação do metrô Praça da Árvore)</span><br /><br />
						<iframe width="450" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Rua Guaraú, 92, São Paulo, SP&z=17&output=embed&ie=UTF8&iwloc="></iframe>
					</p>
				</div>
				<div class="col-2">
					<br />
					<%= render :partial => "layouts/lancamentos", :locals => {:produtos => @publico_produtos_recentes} %>
					<%= render :partial => "layouts/login" %>
				</div>
			</div>
		</div>
	</div>
