		 <%= form_tag @layout[5], :method => "post", :id => "quick-search"  do %>
		
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="busca" type="text" name="busca" value="" title="Digite algo e tecle ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/images/search.png" />
			</p>
		 <% end%>
