<td width="75%" valign="top" bgcolor="#FFFFFF" style="padding-left: 40px; padding-right: 10px">	
					<h1><b>Parabéns!</b></h1>
					<p>&nbsp;</p>
					<p style="font-size: x-large"><span style="color:#CC0000">Você concluiu seu pedido com sucesso!</span></p>
					<p style="font-size: large">Entraremos em contato assim que houver novidades. Enquanto isso você pode acompanhar o STATUS do seu
						pedido aqui pelo nosso site ou imprimí-lo a hora que desejar.</p>
					<br />
					<p style="font-size: large">Obrigado.</p><br /><br />
</td>